---
- name: PROXYSQL MAIN TASK | Check vars
  include: "check_vars.yml"
  tags:
    - proxysql
    - proxysql_check

- name: PROXYSQL MAIN TASK | Install the correct repository for RedHat
  include: "redhat.yml"
  when:
    - zabbix_agent_os_family == "RedHat"
  tags:
    - proxysql
    - proxysql_repo
    - proxysql_install

- name: PROXYSQL MAIN TASK | Install the correct repository for Debian
  include: "debian.yml"
  when:
    - zabbix_agent_os_family == "Debian"
  tags:
    - proxysql
    - proxysql_repo
    - proxysql_install

- name: PROXYSQL MAIN TASK | Configuring ProxySQL
  include: "proxysql.yml"
  tags:
    - proxysql
    - proxysql_limits
    - proxysql_config
