---
- name: PROXYSQL REDHAT TASK | Install basic repo file
  yum_repository:
    name: "{{ item.name }}"
    description: "{{ item.description }}"
    baseurl: "{{ item.baseurl }}"
    gpgcheck: "{{ item.gpgcheck }}"
    gpgkey: "{{ item.gpgkey }}"
    priority: "{{ item.priority | default('99') }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ proxysql_repo_yum }}"
  become: yes
  notify:
    - Yum clean
  tags:
    - proxysql
    - proxysql_repo

- name: PROXYSQL REDHAT TASK | Installing ProxySQL
  package:
    pkg:
      - proxysql
    state: "{{ proxysql_package_state }}"
  register: proxysql_package_installed
  until: proxysql_package_installed is succeeded
  become: yes
  tags:
    - proxysql
    - proxysql_repo

- name: PROXYSQL REDHAT TASK | Installs MySQL-python & client
  yum:
    name: "{{ packages }}"
  vars:
    packages:
      - MySQL-python
      - mysql-client
  become: yes
  tags:
    - proxysql
    - proxysql_install

- name: PROXYSQL REDHAT TASK | Enable the service
  service:
    name: "{{ proxysql_service }}"
    enabled: yes
    use: service
  become: yes
  tags:
    - proxysql
    - proxysql_install
